{% extends 'base.html.twig' %}

{% block content %}
<div class="ui primary header">
    <div class="ui container">
        <h2>{% block section_title %}{% endblock %}</h2>
    </div>
</div>

{% block section %}{% endblock %}
{% endblock %}
