<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ app_name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('styles/mail.css')) }}" />
</head>
<body bgcolor="#FFFFFF">

    <table class="head-wrap" bgcolor="#00b5ad">
        <tr>
            <td></td>
            <td class="header container" >

                    <div class="content">
                    <table bgcolor="#00b5ad">
                        <tr>
                            <td>
                                <img src="{{ absolute_url(asset('images/logo-white.png')) }}" />
                            </td>
                            <td align="right">
                                {% block header %}{% endblock %}
                            </td>
                        </tr>
                    </table>
                    </div>

            </td>
            <td></td>
        </tr>
    </table>


    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" bgcolor="#FFFFFF">

                <div class="content">
                    {% block content %}{% endblock %}
                </div>

            </td>
            <td></td>
        </tr>
    </table>

    <table class="footer-wrap">
        <tr>
            <td></td>
            <td class="container">

                <div class="content">
                    <table>
                        <tr>
                            <td align="center">
                                <p>
                                    <a href="#">Términos de uso</a> |
                                    <a href="#">Privacidad</a> |
                                    {% block footer %}{% endblock %}
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>

            </td>
            <td></td>
        </tr>
    </table>

</body>
</html>
