{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<h2>Recuerda tu contraseña</h2>

<div class="ui olive inverted segment">
    {{ 'resetting.password_already_requested'|trans }}
</div>
{% endblock %}
