{% extends 'base.html.twig' %}

{% block content %}
    <div class="ui primary header">
        <div class="ui container">
            <h2>Usuarios</h2>
            <p>{{ action }} usuario</p>

            <a href="{{ url('users') }}"
               class="ui circular small basic button right floated">
                <img src="{{ asset('images/close.svg') }}">
            </a>
        </div>
    </div>

    {% block section %}{% endblock %}
{% endblock %}
